
<nav class="navbar navbar-expand-sm navbar-dark shadow" style="border:1px solid #6F93AF;background:#6F93AF;">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="src/assets/transparentlogo.png" alt="logo" style="height:80px;">
    </a>
    <span id= "title" class="navbar-brand"> SBHS GPA CALCULATOR </span>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="" class="nav-link textFont" href="#"> How it Works</a>
      </li>
      <li class="nav-item">
        <a routerLink="calculator"class="nav-link textFont" href="#"> Calculate your GPA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link textFont" href="#"> What do I need on my Final? </a>
      </li>
    </ul>
  </nav>
  