
<!-- <div class="header text-white">
      <img id="background" src="/assets/graduation_image.jpg">
         
</div> -->

<header> 
    <div id="head">
        <img id="background" src="/assets/graduation_image.jpg">
        <div id="content">
            <h1 id="title" class="font-big">GPA Calculator</h1> 
            <p class="textFont" id="info"> A simple to use calculator for SBHS students!</p>
            <button (click)="redirect()" id="tryit" class="btn btn-warning body-font" >Try it online!</button>
            <!-- <p class="textFont" id="info"> Download the mobile app as well!</p> -->
            <div id="app">
                <h3 class="pt-5 body-font"> Download the app today! </h3>
                <img id="phone" src="/assets/iphone.png">  
                <img id="logo" src="/assets/appstore.png"> 
            </div>
        </div>  
    </div>
    <div id="body" class="p-3">
        <h1 class="pt-5 pb-3 font-big" style="text-align: center;"> How it Works! </h1> 
        <p class="p-2 textFont" style="text-align: center;"> The classes in highschool fall into one of three categories: Academic, Honors, Advanced Placement. Your academic classes are out of a 4.0 scale, Honors classes out of a 4.5 scale and Advanced Placement Classes out of a 5.0 scale. Each year your final grade is used to calculate your GPA. Your yearly GPA is averaged and then sent to colleges. </p>
        <p class="p-2 textFont" style="text-align: center;"> Reference:</p>
        <!-- <table class=" m-5 justify-content-center table table-bordered">
          <thead>
            <tr class="p-5">
              <th>Grade</th>
              <th>Academic</th>
              <th>Honors</th>
              <th>AP</th>
            </tr>
          </thead>
          <tbody *ngFor="let gpa in ap_grade; let rowIndex = index">
            <td>
              {{ gpa }}
            </td>
          </tbody>
        </table> -->
    </div>
    <div id="body-2" class="p-5">
        <h1 class="pt-5 pb-3 font-big" style="text-align: center;"> Why is your GPA important? </h1> 
        <p class="p-2 textFont" style="text-align: center;"> Colleges use your GPA as a way to measure your academic excellence. They want to see that you are taking challenging courses as well as getting good grades.  </p>
        <!-- <table class=" m-5 justify-content-center table table-bordered">
          <thead>
            <tr class="p-5">
              <th>Grade</th>
              <th>Academic</th>
              <th>Honors</th>
              <th>AP</th>
            </tr>
          </thead>
          <tbody *ngFor="let gpa in ap_grade; let rowIndex = index">
            <td>
              {{ gpa }}
            </td>
          </tbody>
        </table> -->
    </div>
</header>
